<h2>    
    <div (click)="showHide()" style="display: contents;">[{{expansionSymbol}}] {{name}}</div>    
    <input 
        type="checkbox" 
        [ngModel]="filter.jobFilter.get(name)" 
        (ngModelChange)="updateJobFilter(name, $event)"/>        
</h2>
<div *ngIf="show" style="display: flex;">
    <!--Horizontal flex these?-->
    <ng-container *ngFor="let section of sections">
        <div syle="display: block;">
            <div>{{section}}</div>  
            <div *ngFor="let ability of getSectionedAbilities(section)">
                <label>
                    <input 
                        type="checkbox" 
                        [ngModel]="filter.abilityFilter.get(ability)" 
                        (ngModelChange)="updateAbilityFilter(ability, $event)"/>
                    {{ability.Name}} 
                </label>
            </div>
        </div>
        <div display="width: 20%;"></div>
    </ng-container>
</div>